.back-button[href="index.html"], .back-button[href="index.html"]
{
color: var(--walo);
display: block;
font-weight: 600;
padding: 1em 0;
background-color: var(--accent-three);
}
header .skip{
    margin-top: 0;
}
nav{
    padding: 0;
  }

.back-button[href="index.html"]:focus, .back-button[href="index.html"]:hover, .back-button[href="index.html"]:focus, .back-button[href="index.html"]:hover, footer.cycling a:hover, footer.cycling a:focus {
background-color: var(--accent-one);
outline: none;
}
.schedule {
display: flex;
flex-wrap: wrap;
}
.schedule dd, .schedule dt {
flex: 50%;
border-top: 0.01em dotted var(--pimeja);
margin: 0.5em 0;
}
.timeline dd{
flex: 80%;
}
.timeline dt{
flex: 20%;
}
pre .long-code{
  background: var(--pale);
  display: block;
  font-size: 1.1rem;

}code{
  font-size: 1.1rem;
}
table.stats, .stats td, .stats th{
  border: 0.1em solid var(--pimeja);
  border-collapse: collapse;
}
.stats tr:nth-last-of-type(2n){
  background-color: var(--notes-yellow);
}

section.example, .example p {
  background-color: var(--notes-yellow);
  margin-inline-start: 2em;
  padding-block: 0.3em;
  font-size: 0.98em;

}
.broken {
  table-layout: fixed;
  max-width: 80em;
  margin-bottom: 2em;
}
table.broken, .broken td, .broken th{
  border: 0.1em solid var(--pimeja);
  border-collapse: collapse;
}
.broken td{
  max-width: 7em;
  padding: 0.3em;
  border-collapse: collapse;
}
.broken td.number {
  max-width: 1em;
}
.broken td.name {
  max-width: 12em;
}
.broken td.error {
  max-width: 8em;
  word-break: break-word;
}
.broken td.link {
  max-width: 8em;
  word-break: break-all;
}
.broken tr:first-child{
  max-width: 1em;
}



pre{
  white-space: pre-wrap;
  tab-size: 4;
  position: relative;
  overflow-y: hidden;
}