
@media screen {

  /*reset
*/
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0 auto;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
details
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}



/*colour-setting and color-scheme contrast error fixes*/

@media (prefers-color-scheme: light) {
  :root {
    --walo: #F0F7F4;
    --pimeja: #32292F;
    --accent-one: #2F6A60;
    --accent-two: #70ABAF;
    --accent-three: #866407;
    --accent-four: #d84806;
    --pale: #fcfcfc;
    --notes-green:rgb(226, 248, 238);
    --notes-yellow: rgb(248, 248, 226);
    --notes-pink: #FBEEF9;
    --notes-orange: rgb(248, 232, 226);
    --notes-blue: rgb(226, 230, 248);
    --details: rgb(231, 229, 229);
   }
   div.note:nth-of-type(4n+3) a:visited{
    color: #463403;

  }
  nav ul:first-child li a{
    color: var(--walo);

  }
  .skip a {
    background-color: var(--pale);
    color: var(--accent-one); 
  }
  .skip a:focus {
    color: var(--pale);
    background-color: var(--accent-one);
  }
  main a:focus {
    background-color: var(--pale);
  
    outline: 0.2em solid var(--accent-four);
  }
  
  
   
}
@media (prefers-color-scheme: dark) {
  :root {
    --walo: #32292F;
    --pimeja: #eef3f1;
    --accent-one: #5ae0d1;
    --accent-two: #25484b;
    --accent-three: #fcc222;
    --accent-four: #d84806;
    --pale: #585555;
    --notes-green:rgb(32, 53, 44);
    --notes-yellow: rgb(70, 70, 15);
    --notes-pink: rgb(56, 5, 44);
    --notes-orange: rgb(43, 27, 21);
    --notes-blue: rgb(3, 11, 48);
    --details: rgb(80, 76, 76);

    
   }
  div.note:nth-of-type(4n+2) h3{
    color: #FB9C70; /*hack contrast fix*/
  }
  .skip a{
    background-color: var(--walo);
    
  }
  .skip a:hover, .skip a:focus {
    background-color: var(--accent-one);
    color: var(--walo);
    
  }
  nav ul:first-child li a:visited, nav ul:first-child li a{
    color: var(--pimeja);
    border-color: var(--pimeja);
  }
  
}
html {
  font-family: sans-serif;
}
body {
  text-align: center;
}

header {
  text-align: center;
  margin: auto;
  font-weight: bold;
  max-width: 50em;
}
  nav {
    list-style-type: none;
  }
  nav ul{
    padding: 1.5em;

  }
  nav li {
    display: inline-flex;
    justify-content: space-evenly;
    font-size: 1.3rem;

  }
  a.current {
    border-style: solid;
    border-width: 0.25em;
    text-decoration: none;
    border-radius: 4em;
    padding: 0.5em; 
  }
  a.current:hover, a.current:focus, nav li a:not(.current):hover, nav li a:not(.current):focus {
    outline-width: 0.2em;
    outline-style: solid;
    text-decoration-thickness: 0.2em;
    text-decoration-line: underline;
  }
  nav li a:not(.current){
    border-width: 0.02em;
    border-style: solid;
    padding: 0.4em;
    text-decoration: none;
  }
  

main {
  text-align: left;
  padding: 1em 5em 0 5em;
  display: inline-block;
  max-width: 50em;
  width: 100%;
}





.note {
  padding: 1em;
  margin-top:1em;
}




.motto {
text-transform: uppercase;
text-align: center;
padding: 0.2em; 

}

li, p, dd, dt {
  line-height: 1.6em;
  margin: 1em 0;
  font-size: 1.1rem;
}

blockquote {
  margin: 0 2em;
  border-width: 0.1em;
  border-style: dotted;
}

dt {
  font-weight: bold;
}

h4, h5 {
  padding-top: 0.5em;
}
.note img {
  max-width: 100%;
}



/*table of contents for notes section*/
.table-of-contents {
  text-align:left;
  margin-left: -2em;
}
.table-of-contents h3 {
  margin-left: 2em;
}


/*skip link experiments
.skip a {
  display: block;
  position: absolute;
  left: -999px;
  top: -999px;
  }*/





@media (max-width: 672px) {
  main {
    padding: 0.4em;
    margin: 0;
  }
  nav li {
    margin: 0.2em;
  }

} 

footer.cycling {
  display: flex;
}
footer.cycling a {
  border: 0.02em solid var(--pimeja);
  background-color: var(--accent-three);
  padding: 1em;
  flex: 33%;
  color: var(--walo);
  display: flex;
  flex-direction:column;
  object-fit: fill;
  justify-content: center;
  align-items: center;;
}
footer {
  max-width: 50em;
}


  





/*@media (prefers-color-scheme: dark) {
  a:focus {
    outline: none;
    box-shadow: inset 0 0 0 3px rgb(6, 210, 115);
  }
  a:link {
    color: rgb(227, 205, 7);
  }
  a:visited {
    color: rgb(198, 169, 242);
  }
  
  html {
    background-color: rgb(42, 35, 28);
  }
  body {
    color: rgb(147, 196, 190)
  }
  a.current {
    background-color: rgb(238, 218, 218);
    color: black;
    text-decoration: none;
  }
  
}


@media (prefers-color-scheme: light){
  a:focus {
    box-shadow: inset 0 0 0 0.8em rgb(255, 252, 219);
    outline: 0.25em #151414 solid;
    outline-offset: 0;
    
  }
  a:hover {
    box-shadow: inset 0 0 0 0.8em rgb(255, 252, 219);
  }


  
  }
  a:link {
    color: rgb(48, 93, 24);
  }
  a:visited {
    color: rgb(60, 3, 144);
  }
  
  html {
    font-family: sans-serif;
    background-color: rgb(215, 211, 231);
    color:rgb(42, 35, 28);

  }
  a.current {
    background-color: rgb(248, 245, 241);
    color: rgb(6, 12, 11);
    outline: 0.25em #2c09f4 solid;

    text-decoration: none;
    border-radius: 4em;
    padding: 0.5em;


  }
    a.current:hover {
    outline: 0.25em #2c09f4 solid;
    text-decoration: underline red;
    text-decoration-thickness: 3px;

  }
  
  a.current:focus{
    ouline: 0.4em #2c09f4 solid;
    text-decoration: underline red;
    text-decoration-thickness: 3px;


}
  main {
    background-color: rgb(244, 244, 245);
  }
  header {
    background-color: rgb(225, 229, 254);
    border: 0.25em rgb(225, 229, 254);


  }
  h1, h2, h3, h4 {
    color: rgb(22, 7, 136)
  }
  */
  .note {
    padding: 1em;
    margin-top:1em;
  }
  
  ul.notes-menu > li {
    list-style-type: none;
    display: flex;
    padding: 0.03em;
    border: 0.01em solid;
    border-collapse: collapse;
    max-width: 70ch;
    flex-wrap: wrap;
    margin: 0;
  }
  span.date {
    flex: 1;
    padding: 0 0.2em;

  }
  .table-of-contents > h3 {
    padding-top: 1em;
    padding-bottom: 0.5em;

  }
  ul.notes-menu > li > a {
    border-left: 0.2em solid;
    text-decoration: none;
    display: block;
    flex: 5;
    text-align: center;
  }
  ul.notes-menu > li > a:hover, ul.notes-menu > li > a:focus {
    background-color: var(--notes-yellow);
    text-decoration: underline;
  }
  .entry-contents {
    border: 0.1em dotted var(--pimeja);
    max-width: 26em;
    padding: 0 1em;
    margin: 0 -1em;
  }


  /*COLOURS*/
  body {
    background-color: var(--accent-two);
  }
  nav {
    background-color: var(--accent-four);
  }

  
  details {
    background-color: var(--details);
  }
  a.current:hover, nav li a:not(.current):hover {
    text-decoration-color: var(--accent-two);
    outline-color: var(--accent-two);
  }
  nav li a:not(.current):focus, a.current:focus {
    outline-color: var(--accent-two);
    background-color: var(--walo);
    color: var(--accent-four);

  }
  ul.notes-menu > li > a:focus {
    background-color: var(--accent-four);
    color: var(--walo);
  }

  nav li a:not(.current){
    border-color: var(--walo);
  }
  

  main {
    background-color: var(--walo);
    color: var(--pimeja)

  }
  h1, h2, h3, h4 {
    color: var(--accent-one)
  }
  h2 {
    color: var(--accent-three);

  }
  h3 {
    color: var(--accent-four);

  }
  a {
    color: var(--accent-three);
  }
  a:visited {
    color: var(--accent-one);
  }
  main a:focus {
  
    outline: 0.2em solid var(--accent-four);
  }
  main a:hover {
    background-color: var(--pale);
    font-weight: 401;

  }
  
  .skip a {
    padding: 0 1em;
    margin: 0 0.5em;
  }
  blockquote {
    border-color: var(--pimeja);
  }
  .schedule {
    display: flex;
    flex-wrap: wrap;
  }
  .schedule dd, .schedule dt {
    flex: 50%;
    border-top: 0.01em dotted var(--pimeja);
    margin: 0.5em 0;
  }
  .timeline dd{
    flex: 80%;
  }
  .timeline dt{
    flex: 20%;
  }



  
  
  /*notes colours*/
    div.note:nth-of-type(4n+1){
      background-color: var(--notes-green);
    }
    div.note:nth-of-type(4n+1) a:hover, div.note:nth-of-type(4n+1) a:focus   {
      box-shadow: inset 0 0 0 0.8em var(--notes-pink);
    } 
    div.note:nth-of-type(4n+2){
      background-color: var(--notes-yellow);
    }

    div.note:nth-of-type(4n+2) a:hover, div.note:nth-of-type(4n+2) a:focus   {
      box-shadow: inset 0 0 0 0.8em var(--notes-blue);
    } 
    div.note:nth-of-type(4n+3){
      background-color:var(--notes-pink);
    }
    div.note:nth-of-type(4n+3) a:hover, div.note:nth-of-type(4n+3) a:focus   {
      box-shadow: inset 0 0 0 0.8em  var(--notes-green);
    } 
    div.note:nth-of-type(4n+4){
      background-color: var(--notes-orange);
    }
    div.note:nth-of-type(4n+4) a:hover, div.note:nth-of-type(4n+4) a:focus   {
      box-shadow: inset 0 0 0 0.8em  var(--notes-yellow);
    }
    div.note a:focus, div.note a:hover {
      color: var(--pimeja);
    }

    ul.notes-menu > li {
      border-color: var(--accent-two);
      background-color: var(--pale);
    }
    ul.notes-menu > li > a {
      border-left-color: var(--accent-four);
    }







  



  /*#tc-expanded { /*button to expand/collapse
    padding: 1em;
    transform: skew(-20deg);
    background-color:#fac8d1;
    border-radius: 0.75em;
    display: block;
    text-align: right;
    margin: 1em auto;
    border: 0.2em solid #020202;
  }

  #tc-expanded:focus, #tc-expanded:hover {
    box-shadow: inset 0 0 0 0.2em rgb(15, 15, 15);

  }
  
  #tc-jump {
    display:inline;
  }*/
  

  
  

  /*
   hr experiments
  */
  hr {
    position:relative;
    border:none;
  }
  hr:before {
    content:'✏️✏️✏️✏️✏️✏️✏️✏️✏️✏️✏️✏️';
    display: block;
    margin: auto;
    font-size:1.5em;
    color:#0200fb;
    text-align:center;
  }





























table.simple{
  overflow-x: auto;
  color:var(--pimeja);
  border: 0.01em solid;
  margin: 0;
  border-collapse: collapse;
  background-color: var(--walo);

}
table.simple caption{
  text-align: left;
  font-weight: 700;
  padding-bottom: 0.5em;
}
table.simple td, table.simple th{
  border: 0.01em solid;
  border-color: var(--pimeja);
  padding: 0.3em;
}
table.simple th {
  background-color: var(--accent-three);
  color: var(--walo);
}















  /*cool table things*/
  table.pretty {
    overflow-x:auto;
    table-layout: fixed;
    border-right: 0.01em solid;
    border-collapse:collapse; 
    color:rgb(42, 35, 28);
  }
  table.pretty th {
    text-align: left;
    border: 0.01em solid;
  }
  table.pretty td {
    text-align: center;
    border-left: 0;
    border-right: 0;
    border-top: 0.01em solid;
    border-bottom: 0.01em solid;
    width:6.5em;
  }
  table.pretty tr:nth-child(odd) td:not(.empty), table.pretty tr:nth-child(odd) th:not([scope="col"]){
    background-color:rgb(239, 248, 211);
  }
  table.pretty tr:nth-child(even){
    background-color:#e9e7f3;

  }
  table.pretty td.empty {
    border-right: 0;
    border-top: 0;
    border-left: 0;
    border-bottom: 0.01em solid;
    background-color: inherit;
  }
  table.pretty th[scope="rowgroup"]{
    width: 9em;
    color: rgb(5, 5, 99);
    background-color: rgb(239, 248, 211);;
    white-space: no-wrap;
    overflow-y: auto;
    text-align:center;
    border-left: 0.01em solid;
    border-right: 0;
    vertical-align: top;
  }
  table.pretty th[scope="col"]{
    text-align: center;
    background-color:#e9e7f3;
    color: rgb(5, 5, 99);
  }
  table.pretty th[scope="row"]{
    width: 5em;
    border-left: 0;
    border-right: 0;
    padding-left: 1em;
  }
  table.pretty caption{
    display: table-caption;
    text-align: left;
    font-weight: bold;
    background-color: rgb(234, 234, 234);
  }
}
@media print {
  header nav, footer {
    display: none;
  }
  .skip {
    display: none;
  }
  body, h1, h2, h3, h4, p, li, dd, dt {
    font-family: sans-serif;
    font-size: 12pt;
    margin: 0;
    padding-top: 0.5cm;
  }
  h1::before{
    content:'ChelseA11y Learning: '
  }
  p {
    text-indent: 1cm;
  }
  .table-of-contents li {
    list-style: none;
    padding: 0;
  }
  dt {
    font-weight: bold;
  }
  h1, h2 {
    text-align: center;
  }
  .motto{
    text-align: center;
  }
  .back-up {
    display: none;
  }  

}