

section.js-only {
    border: 0.5em solid var(--pimeja);
    background-color: var(--walo);
    max-width: 60rem;
    display: none;
}
section.js-only button.option {
    flex: 45%;
    min-height: 10em;
    border: 0.1em solid var(--pimeja);
    background-color: var(--walo);
    color: var(--pimeja);
    text-align: left;
    font-weight: 500;
    padding: 0.5em;
    margin: 0.4em;
}
#showgame, #showquestions {
    display: none;
}
section.js-only button.option:hover{
    background-color: var(--accent-one);
    color: var(--walo);
}
section.js-only button.option:focus{
    outline: 0.3em solid var(--accent-three);
}


fieldset {
    border: none;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 100%;
}
button.end {
    border: 0.1em solid var(--walo);
    display: block;
    margin-right: 0
}
fieldset legend {
    text-align: center;
    font-size: 2em;
}
fieldset legend:focus{
    outline: 0.2em solid var(--accent-four);
}
#proceed {
    display: none;
}
.total-number, .accuracy  {
    padding: 0 1em;
    line-height: 0.5em;
}
.topbar {
    display: flex;
    justify-content:space-between
}

main{
    max-width: 80em;
    padding-bottom: 10em;
}
footer, header {
    max-width: none;
}
@media (max-width: 30rem){
    .topbar {
        flex-direction: column;
        align-items: center;
        background-color: var(--pale);

    }
    .total-number, .accuracy {
        padding: 0;
        margin: 0.4em;
    }
    section.js-only button.option {
        flex: 1;
        min-height: 4em;
    }
    fieldset {
        flex-wrap: nowrap;
        flex-direction: column;
    }

    fieldset legend{
        text-align: left;
        font-size: 1.2em;
        padding: 0.2em;
    }

    
}